<!DOCTYPE html>
<html lang="en">

<head>
  <title>Users</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>

<body>
  <header>
    <a>FAANG Restaurant</a>
    <%- include('partials/_header') %>

  </header>

  <div id="imgRestaurant" class="jumbotron jumbotron-fluid d-flex flex-column justify-content-center pl-5 my-0">
    <h1>DISHES</h1>
  </div>


  <main style="margin: 1em;">
    <table class="table">

      <tbody>
        <!-- need to ask how to show items/food in this part  -->
        <% for (let id in urls) { %>
          <tr>
              <td><%= urls[id].name %></td>
              <td><%= urls[id].description %></td>
              <td><%= urls[id].price %></td>
              <td><img src="<%= urls[id].picture %>"></td>
              <td><%= urls[id].vegetarian %></td>
            <td><form method="GET" action='/restaurant/<%= urls[id].id%>'>
              <button type="submit" class="btn btn-primary">Select</button>
              </form></td>
          </tr>
        <% } %>
      </tbody>
    </table>
  </main>

</body>

</html>
